#myCanvas {
    border: 1px solid black;
  }

  #animatedBackground{
    background:url(../images/Mer.png);
    animation:20s scroll infinite linear;
    width:850px;
    height:600px;
  }
  
  @-webkit-keyframes scroll{
    100%{
      background-position:0px 800px;
    }
  }
